src/libpll.so
src/parse_rtree.h
src/parse_utree.h
src/parse_phylip.h
m4/*
*.o$
*.o
*.lo
*.swp
*.so
*Makefile
*Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
man/libpll_manual.pdf
missing
src/.deps/
src/.libs/
src/lex_rtree.c
src/lex_utree.c
*.la
src/parse_rtree.c
src/parse_utree.c
ylwrap

